body {
    max-width: 50em;
    padding: 1em;
    margin: auto;
}

footer {
    font-size: small;
    color: grey;
}

#rss {
    float: right;
}

pre {
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    padding: 0.5em;
}
